:root {
	--color-primary: darkslateblue;
	--color-primary-variant: slateblue;
	--color-accent: firebrick;
	--color-accent-variant: crimson;
	--color-background: #292e3e;
	--color-foreground: #252b3d;
	--color-foreground-variant: #2c3348;
	--color-text: #e6dbdb;
}

html, body {
	width: 100%;
	height: 100%;

	margin: 0px;
	border: none;
	padding: 0px;

	overflow: hidden;

	background-color: var(--color-background);
	font-family: 'Noto Sans', sans-serif;
}

* {
	color: var(--color-text);
}

button {
	border: none;
	border-radius: 25px;
	outline: none;

	background-color: var(--color-foreground);

	cursor: pointer;
}

button:hover {
	background-color: var(--color-foreground-variant);
}

button:active {
	background-color: var(--color-primary);
}