@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/** Theme description */
:root {
	--color-text: #ffffff;
	--color-background: #191d27;
	--color-background-variant: #1d212e;
	--color-foreground: #242933;
	--color-foreground-variant: #3d4657;
	--color-primary: #38271a;
	--color-primary-variant: #493322;
	--color-accent: #528a63;
	--color-accent-variant: #65aa79;
}

/** Text appearance */
html {
	font-family: Nunito;
}

hr {
	background-color: var(--color-text);
	border-color: var(--color-text);
}

input {
	border: none;
	border-radius: 5px;

	background: var(--color-foreground);
}

button {
	border: none;
	border-radius: 100%;

	background: var(--color-foreground);
}

	button:hover {
		background: var(--color-foreground-variant);
	}

	button:active {
		background: var(--color-primary);
	}

*, [type=text], ::placeholder {
	color: var(--color-text);
}

::placeholder {
	filter: opacity(70%);
}

/** Scollbar */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: var(--color-background-variant);
}

::-webkit-scrollbar-thumb {
	background: var(--color-foreground);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-foreground-variant);
}