@import "../../../css/style.css";

canvas {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

#menu {
	width: 100%;
	height: 100%;

	margin: 0px;
	border: none;
	padding: 0px;

	display: grid;
	grid-template:
		"title title" 0.5fr
		"sp mp" 0.5fr;
	gap: 50px;
}

#menu > * {
	font-size: 30px;
	place-self: center;
}

#title {
	grid-area: title;

	font-size: 60px;
}

#sp, #mp {
	align-self: start;

	width: 350px;
	height: 175px;
}

#sp {
	grid-area: sp;
	justify-self: right;
}

#mp {
	justify-self: left;

	display: grid;
	grid-template:
		"address address" 0.3fr
		"host join" 0.35fr
		"host code" 0.35fr
		/ 0.5fr 0.5fr;
	gap: 10px;
}

#mp > * {
	place-self: center;

	width: 100%;
	height: 100%;
}

#address {
	grid-area: address;

	font-size: 20px;
}

#host {
	grid-area: host;
}

#join {
	grid-area: join;
	align-self: end;
}

#code {
	grid-area: code;
	align-self: start;

	font-size: 15px;
}

input {
	width: 100%;
	height: 100%;

	border: none;
	border-radius: 25px;
	padding: 0px 10px;
	outline: none;

	background-color: var(--color-foreground);

	font-size: inherit;
}